/* ---------------------------- Navbar ------------------------------------ */
.navbar_parent {
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo img {
    cursor: pointer;
}

.navbar_menu_list {
    display: flex;
    gap: 4rem;
}

.navbar_menu_list a {
    text-decoration: none;
    color: #2D2D2D;
    font-size: 20px;
}

.navbar_btn button {
    background: #0085D0;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 18px;
}

.list_active {
    color: #000;
    font-weight: 600;
}

@media screen and (max-width:1200px) {
    .navbar_parent {
        padding: 1rem;
    }

    .navbar_menu_list {
        gap: 1rem;
    }
}

/* ------------------------------------ Home Hero Sections ------------------------------------ */
.hero_section_parent {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    /* background: url(../../public/HomeHeroSectionBackgroundImage.svg); */
    position: relative;
    background-repeat: no-repeat;
}
.overlay {
    position: absolute;
    background: url(../../public/HomeHeroSectionBackgroundImage.svg);
    top: 0;
    left: 10%;
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    opacity: 0.2;
  }

.hero_section_back_forward_arrow {
    border-radius: 50%;
    background: #fff;
    color: #6d6969;
    border: 1px solid #dedede;
    box-shadow: 0 0 5px rgb(38, 38, 38, 0.5);
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
.hero_section_left_container {
    z-index: 0;
}
.hero_section_title_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    width: 100%;
}

.hero_section_title1 {
    color: #2B2B2B;
    font-size: 40px;
}

.hero_section_title2 {
    color: #0085D0;
    font-size: 40px;
}

.hero_section_btn {
    background: #0085D0;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 30px;
    font-size: 20px;
    margin-top: 2rem;
    cursor: pointer;
}

.hero_section_img {
    height: 400px;
}

.hero_section_img img {
    height: 100%;
    width: 100%;
}


/*------------------------------------ Category container -------------------------------- */
.new_arrival_container {
    padding: 1rem 4rem;
}

.new_arrival_title_dec {
    text-align: center;
}

.new_arrival_title {
    font-size: 34px;
    color: #484848;
    font-weight: 600;
    padding: 1rem 0 5px;
}
.new_arrival_description {
    font-size: 16px;
    color: #8A8A8A;
    font-weight: 400;
}
.blue_span {
    color: #0085D0;
}

.new_category_list_parent {
    display: flex;
    justify-content: center;
}

.new_category_list {
    padding: 1rem 0;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.new_category_list_btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: #8A8A8A;
    min-width: 150px;
    max-width: 150px;
}

.new_category_list_btn_active {
    border: none;
    cursor: pointer;
    background: #0085D0;
    color: #fff;
    padding: 10px 0;
    min-width: 150px;
    max-width: 150px;
    border-radius: 10px;
}

@media screen and (max-width:1200px) {
    .new_category_list {
        gap: 1rem;
    }

    .new_category_list_btn {
        min-width: unset;
        max-width: unset;
        padding: 10px;
    }

    .new_category_list_btn_active {
        min-width: unset;
        max-width: unset;
        padding: 10px;
    }
}

/* ------------------------------------ Women Card --------------------------------------- */
.women_card_container_parent {
    padding: 1rem 4rem;
}
.women_card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.women_card_container a {
    text-decoration: none;
}
.women_caerd_parent {
    flex: 1 1 calc(25% - 2rem);
    min-width: calc(25% - 2rem);
    max-width: calc(25% - 2rem);
    background: #fff;
    padding-bottom: 1rem;
    box-shadow: 0 0 10px rgb(38, 38, 38, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.women_card_image {
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.women_card_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card_orderId_and_status {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    margin-bottom: -10px;
}
.card_orderId_and_status_p {
    color: #6D6A6A;
    font-size: 14px;
}
.card_order_status {
    color: #003AD0;
    background: #E4ECFF;
   border-radius: 10px;
   padding:2px 5px;
}
.card_title {
    font-size: 24px;
    color: #484848;
    font-weight: 500;
    padding: 1rem 0 5px 1rem;
}

.card_description {
    font-size: 16px;
    color: #606060;
    font-weight: 400;
    padding: 0 1rem;
    overflow: hidden;
}

.card_price {
    font-size: 24px;
    color: #484848;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 1rem;
}

@media screen and (max-width:1200px) {
    .women_card_container {
        padding: 1rem;
        gap: 1rem;
    }

    .women_caerd_parent {
        flex: 1 1 calc(25% - 1rem);
        min-width: calc(25% - 1rem);
        max-width: calc(25% - 1rem);
    }

}

/* -------------------------- Custom dress ------------------------------- */
.custom_dress_parent {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    background: #FAfAFA;
    margin: 4rem 0;
}

.custom_dress_left {
    height: 300px;
}

.custom_dress_left img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.sewing_machine_and_text {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sewing_machine_container {
    height: 300px;
    width: 300px;
}

.sewing_machine_container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.custom_dress_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1200px) {
    .custom_dress_parent {
        padding: 1rem;
    }
    .sewing_machine_container {
        height: 200px;
        width: 200px;
    }
}
/* ---------------------------- Customer Feedback ------------------ */
.customer_feedback_parent {
    padding: 2rem 4rem;
    background: #FAfAFA;
}
.customer_feedback_header {
    text-align: center;
    margin-bottom: 2rem;
}
.customer_feedback_header_title {
    color: #484848;
    font-size: 30px;
    font-weight: 600;
}
.feedback_container {
    display: flex;
    gap: 4rem;
    padding: 2rem 4rem;
    border-radius: 15px;
    background: #fff;
    width: 60%;
    margin: auto;
    animation:fadeInfadeOut 5s linear infinite;
}
/* @keyframes fadeInfadeOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */
@keyframes fadeInfadeOut {
    0%, 100% {
      opacity: 0;
      transform: translateY(-10px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.feedback_image_container {
   height: 200px;
   width: 400px;
}

.feedback_image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.feedback_text_and_name {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.feedback_text {
    color: #484848;
    font-size: 16px;
    font-weight: 400;
}
.border_line {
    border: 1px solid rgb(72, 72, 72, 0.5);
    width: 50%;
}
.feedbak_person_name {
    color: #484848;
    font-size: 24px;
    font-weight: 400;
}
.feedback_back_next_btn_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
/* ------------------------- Log In page -------------------- */
.login_page_parent_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: #00081d99;
    z-index: 99;
    
}
.login_page_parent {
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width:60%;
}
.login_page_header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.login_page_header_title {
    color: #262626;
    font-weight: 600;
    font-size: 30px;
}
.login_page_close_btn {
    color: #0085D0;
    font-weight: 600;
    font-size: 36px;
    cursor: pointer;
}
.login_page_left_and_right_container {
   display: flex;
   justify-content: space-between;
   gap: 4rem;
   padding: 0 2rem 2rem ;
}
.login_page_right_container {
    height: 300px;
}
.login_page_right_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.login_page_left_container p {
    color: #262626;
    font-weight: 400;
    margin-bottom: 2rem;
}
.login_page_left_container label {
    display: block;
    color: #263238;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}
.login_page_left_container_input {
    border: 1px solid rgb(35,35,35,0.2);
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
    width: 90%;
}

.login_page_term_and_condition {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.login_page_term_and_condition p {
    color: #787878;
    font-weight: 400;
    margin-bottom: 0;
}
.login_page_btn {
    background: #0085D0;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    height: fit-content;
    margin-top: 3rem;
}
/* ----------------------------- Veryfy OTP ----------------------------------- */
.verify_otp_input_container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}
.verify_otp_input_field {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(35,35,35,0.2);
    padding-left:25px ;
    outline: none;
    border-radius: 10px;
}
/* ---------------------------------- Add Details Page -------------------------------------------- */
.add_details_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: fit-content;
    width: 60%;
    background: #fff;
    border-radius: 10px;
    padding-bottom: 1.5rem;
}
.input_container_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 3rem;
}
.input_container_with_label {
    max-width: calc(50% - 2rem);
    flex: 1 1 calc(50% - 2rem);
    margin-bottom: 1.5rem;
}
.input_container_with_label label {
    display: block;
    color: #263238;
    font-size: 20px;
    margin-bottom: 5px;

}
.input_container_with_label input {
    width: 100%;
    border: 1px solid rgba(35, 35, 35, 0.2);
    padding: 10px 0 10px 20px;
    border-radius: 10px;
    outline: none;
}
.note_details_p_16 {
    color: #787878;
    font-weight: 400;
    font-size: 12px;
    padding-left: 3rem;
}
.add_details_button_container {
    display: flex;
}
.upload_image_btn_and_img_container {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    gap: 4rem;
}
.upload_img_and_btn {
    width: 100%;
}
/* ------------------------ Saved Address Page --------------------------- */
.saved_address_parent {
    padding: 1rem 4rem;
}
.saved_address_parent h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2rem;
}
.saved_address_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.saved_address_card {
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(50% - 4rem);
    box-shadow: 0 0 10px rgb(38, 38, 38, 0.5);
    padding: 1.5rem;
    border-radius: 8px;
}
.saved_address_card h3 {
    color: #484848;
    font-weight: 500;
    font-size: 20px;
}
.saved_address_card h4 {
    color: #6C6A6A;
    font-weight: 500;
    font-size: 16px;
}
.address_and_button {
    display: flex;
    gap: 2rem;
}
.address_and_button p {
    color: #6C6A6A;
    font-size: 14px;
}
.saved_address_btn_container {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}
.saved_address_btn_container button {
    border-radius: 10px;
    outline: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: fit-content;
}
.saved_address_btn_container_delete_btn {
    border:1px solid #0085D0;
    background: none;
    color: #0085D0;
    padding: 5px 20px;
    
}
.saved_address_btn_container_edit_btn {
    background: #0085D0;
    padding: 6px 30px;
    border: none;
    color: #fff;
}
/* ---------------------------- Previous Order------------- */
.previous_order_parent {
    padding: 1rem 4rem;
}
.Previous_order_header_h2 {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 500;
}
/*-------------------- Previous Order Details ---------------- */
.order_details_image_and_details {
    display: flex;
    gap: 4rem;
    padding: 0 2rem;
}
.order_details_image_container {
   width: 40%;
   overflow: hidden;
   border-radius: 10px;
}
.order_details_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.order_details_details {
  width: 60%;
}
.dress_details_title_description {
    padding-top: 1rem;
}
.dress_details_title_description h2 {
    color:#484848;
    font-weight: 500;
    font-size: 24px;
}
.dress_details_title_description p {
    color: #606060;
    font-size: 14px;
    font-weight: 14px;
}
.customer_name_and_mobile_number {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.customer_name_and_mobile_number p {
    color: #6D6A6A;
}
.customer_name_and_mobile_number span {
    color:#00113E;
}
/* -------------------- FAQ Page CSS ---------------- */
.faq_container {
    padding: 1rem 4rem;
}
.faq_questions_container {
    margin-bottom: 1.5rem;
    box-shadow: 0 0 10px rgb(38, 38, 38, 0.5);
    padding: 10px 2rem;
    border-radius: 10px;
}
.faq_questions_container h2 {
  font-size: 20px;
  color: #484848;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.faq_questions_container p {
    color: #6C6A6A;
    font-size: 14px;
}
.hidden {
    display: none;
}