.footer_parent {
    padding: 0 4rem;
    margin: 1rem 0 4rem 0;
}
.footer_logo_and_links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.footer_logo_container {
    width: 150px;
    height: 50%;
}
.footer_logo_container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.footer_links_container {
    display: flex;
    gap: 3rem;
}
.footer_links_container a {
    text-decoration: none;
    color: #484848;
    font-size: 16px;
}
.footer_copyright_container {
    text-align: center;
    margin-top: 2rem;
}
.footer_copyright_container p {
    color: #484848;
    font-size: 14px;
}
@media screen and (max-width:1200px){
    .footer_parent {
        padding: 1rem;
    }
}
@media screen and (min-width:300px) and (max-width:767px) {
    .footer_parent {
        margin: 1rem;
    }
    .footer_links_container {
        gap: 10px;
    }
    .footer_links_container a {
        font-size: 12px;
        max-width: 50px;
        max-height: 17px;
        overflow: hidden;
    }
    .footer_logo_container {
        width: 100px;
    }
    .footer_copyright_container p {
       font-size: 12px;
    }
}